# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Log files
*.log

# Ignore logs directory
logs/
mvenv/

# Ignore Python bytecode files
__pycache__/
*.pyc



# Package files
*.jar

# Maven
target/
dist/



# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
*.env
